/* Tailwind utility compatibility */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* override scroll bars */
::-webkit-scrollbar {
  width: 0;
  display: none;
}
::-webkit-scrollbar-thumb {
  @apply hidden bg-transparent;
}
::-webkit-scrollbar-thumb:hover {
  @apply hidden bg-transparent;
}
::-webkit-scrollbar-track {
  @apply hidden bg-transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
@font-face {
  font-family: "QuantumLemon";
  src: url("/fonts/QuantumLemon/Quantum-Lemon-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuantumLemon";
  src: url("/fonts/QuantumLemon/Quantum-Lemon-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "QuantumLemon";
  src: url("/fonts/QuantumLemon/Quantum-Lemon-Italics.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
  background-color: #fbb539;
}
